.container {
    margin: 0 auto;
    padding: 5px;
}

header{
    background-color: #333333;
}
ul{
    
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
li{
    float: left;
}
li a{
    color: white;
    display: block;
    padding: 14px;
    text-decoration: none;
}


p{
    text-align: justify;
    column-count: 4;
    column-rule: 2px solid black;
}


.footer{
    background-color: black;
    padding: 1px;
}
h2{
    color: white;
    text-align: center;
}